{{> adminNav}}

<div class="weekPanel">
	<ul class="weekList">
{{#each week}}
		<li class="{{status}}"><h6>{{day}}</h6>
		<span class="badge">{{number}}</span>
		</li>
{{/each}}
	</ul>
</div>

<div class="panel panel-default panelDays">
	  <h3>List Of Waiters</h3>
  <div class="panel-body">

<table class="table">
  	<tr>
		<th>Name</th>
		<th>Surname</th>
		<th>Days Available</th>
	</tr>
	
{{#each data}}
	<tr>
		<td>{{waiter_name}}</td>
		<td>{{waiter_surname}}</td>
		<td>
			<ul>
				{{#waiter_days}}
				<li class="daysList">{{this}}</li>
				{{/waiter_days}}
			</ul>
		</td>
	</tr>
{{/each}}	

</table>
  </div>
</div>