{{> user}}
<div class="loginContainer">
	<div class="login-container">
		<div class="row">
			<h3><span class="label label-success">Welcome, {{username}}</span></h3>
		</div>

		<div class="row">
			<h3>Select Days You Can Work:</h3>
		</div>
		<div class="row">
			<h6>(Please select more than one day)</h6>
		</div>

		<form class="form-inline" method="post" action="/update/{{username}}">

			<div class="row">
				<div class="form-group">

					{{#each days}}
					<div class="checkbox">
						<label>
                    		<input type="checkbox" name="days" value="{{this}}" name="day">{{this}}
						</label>
					</div>
					{{/each}}

				</div>

			</div>
		<div class="row">
			<input type="submit" class="btn btn-primary" value="Update">
		</div>
		</form>
	</div>
	<br/>
</div>

<div class="currentDays">
	<table class="table">
		<th>Current Selected Days: </th>
		{{#each current}}
		<tr>
			<td>{{this}}</td>
		</tr>
		{{/each}}
	</table>
</div>